<!DOCTYPE html>
<div class="mdui-typo">
  <h6 style="font-size: 30px;">添加新的用户邮箱</h6>
</div>
<div class="mdui-textfield">
  <label class="mdui-textfield-label">邮箱账户</label>
  <input class="mdui-textfield-input" type="text" value="xxx" maxlength="20"/>
</div>

<div class="mdui-textfield mdui-textfield-floating-label">
  <label class="mdui-textfield-label">邮箱密码</label>
  <input class="mdui-textfield-input" type="email" maxlength="60"/>
  <div class="mdui-textfield-error">邮箱格式错误</div>
</div>

<button class="mdui-btn mdui-btn-raised" style="color:floralwhite;background: #448aff;">添加</button>
