<!DOCTYPE html>
<div class="mdui-typo">
  <h6 style="font-size: 30px;">设置Apache Jamse核心参数</h6>
</div>
<div class="mdui-textfield">
  <label class="mdui-textfield-label">系统DNS</label>
  <input class="mdui-textfield-input" type="text" value="8.8.8.8" maxlength="20"/>
</div>

<div class="mdui-textfield mdui-textfield-floating-label">
  <label class="mdui-textfield-label">邮箱域名</label>
  <input class="mdui-textfield-input" type="email" maxlength="60"/>
  <div class="mdui-textfield-error">邮箱格式错误</div>
</div>
<div class="mdui-textfield mdui-textfield-floating-label">
  <label class="mdui-textfield-label">数据库IP</label>
  <textarea class="mdui-textfield-input" maxlength="140"></textarea>
</div>
<div class="mdui-textfield mdui-textfield-floating-label">
  <label class="mdui-textfield-label">数据库用户</label>
  <textarea class="mdui-textfield-input" maxlength="140"></textarea>
</div>
<div class="mdui-textfield mdui-textfield-floating-label">
  <label class="mdui-textfield-label">数据库密码</label>
  <textarea class="mdui-textfield-input" maxlength="140"></textarea>
</div>

<button class="mdui-btn mdui-btn-raised" style="color:floralwhite;background: #448aff;">提交</button>