<!DOCTYPE html>
<div class="mdui-typo">
  <h6 style="font-size: 30px;">设置Applo管理密码</h6>
</div>
<div class="mdui-textfield">
  <label class="mdui-textfield-label">旧密码</label>
  <input class="mdui-textfield-input" type="text" value="8.8.8.8" maxlength="20"/>
</div>

<div class="mdui-textfield mdui-textfield-floating-label">
  <label class="mdui-textfield-label">新密码</label>
  <input class="mdui-textfield-input" type="email" maxlength="60"/>

</div>


<button class="mdui-btn mdui-btn-raised" style="color:floralwhite;background: #448aff;">修改</button>